<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        <div class="row">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge up bg-green">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="h5 mt-0 title">Vara Technology</div>
                                <div class="h6 mt-0 title">Senior Software Engineer (2023-01 - Present)</div>
                                <p align="justify">Designed and developed robust smart contracts using Solidity for Ethereum Virtual Machine (EVM), focusing on [specific
                                    functionalities, e.g., tokenization, decentralized finance (DeFi), or non-fungible tokens (NFTs)].</p>
                                <p align="justify">Utilized <b>Web3.js</b> and <b>Ethers.js</b> libraries to interact with blockchain networks, executing transactions, querying data, and
                                    building decentralized applications.</p>
                                <p align="justify">Implemented a scalable <b>Microservices</b> architecture using <b>NestJS</b>, leveraging event-sourcing design patterns to ensure data
                                    consistency and reliability.
                                </p>
                                <p align="justify">Employed <b>RabbitMQ</b> and <b>AWS SQS/SNS</b> to facilitate asynchronous communication between microservices, improving system
                                    responsiveness and scalability
                                </p>
                                <p align="justify">Integrated AWS Cognito with Multi-Factor Authentication (MFA) to provide secure and robust identity management,
                                    protecting sensitive user data.
                                </p>
                                <p align="justify">Containerized applications using <b>Docker</b> to streamline deployment and improve portability across different environments.</p>
                                <p align="justify">Worked extensively with Angular, handling web-socket events and utilizing <b>NgRx</b> Store for state management</p>
                                <p align="justify">Tested code with Unit, Integration and Load testing with JUnit, Mockito, and TestNG</p>

                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Software Architecture Proposal</li>
                                        <li class="non_list">Technical Documentation</li>
                                        <li class="non_list">Team Lead</li>
                                        <li class="non_list">Software Development</li>
                                    </ul>
                                    <li class="list">Technologies and Language</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Solidity</li>
                                                <li class="non_list">blockchain</li>
                                                <li class="non_list">Ethers.js/Web3</li>
                                                <li class="non_list">Angular 17, 15, 14..</li>
                                                <li class="non_list">NestJS</li>
                                                <li class="non_list">Docker</li>
                                                <li class="non_list">NgRx</li>
                                                <li class="non_list">RxJS</li>
                                                <li class="non_list">CQRS (Command Query Responsibility Separation) Pattern</li>
                                                <li class="non_list">Entity Respository Pattern</li>
                                                <li class="non_list">Microservices</li>
                                                <li class="non_list">AWS SNS/SQS</li>
                                                <li class="non_list">AWS Cognito</li>
                                                <li class="non_list">RabbitMQ</li>
                                                <li class="non_list">Junit</li>
                                                <li class="non_list">Mockito</li>
                                                <li class="non_list">TestNG</li>

                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Docker</li>
                                                <li class="non_list">CI/CD Pipe Line</li>
                                                <li class="non_list">Github Actions</li>
                                                <li class="non_list">Jira</li>
                                                <li class="non_list">System Design</li>

                                                <li class="non_list">Git</li>
                                                <li class="non_list">AWS</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge up bg-green">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="h5 mt-0 title">Capital Numbers Infotech Pvt. Ltd</div>
                                <div class="h6 mt-0 title">Software Engineer (2022-06 - 2022-12)</div>
                                <p align="justify">Fixed application structure based on Angular Style
                                    Guides and best practices.</p>
                                <p align="justify">Implemented cookie handling and auto log out
                                    functionalities in Angular.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Software Development</li>
                                        <li class="non_list">Application Development</li>
                                    </ul>
                                    <li class="list">Technologies and Language</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Angular 10</li>
                                                <li class="non_list">NodeJS</li>
                                                <li class="non_list">Azure</li>
                                                <li class="non_list">MongoDB</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Git</li>
                                                <li class="non_list">AWS</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge up bg-green">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="h5 mt-0 title">Posorbis IT Solution Pvt. Ltd</div>
                                <div class="h6 mt-0 title">Software Engineer (2021-10 - 2022-06)</div>
                                <p align="justify">Worked on building whole Angular project structure
                                    to improve the performance. Maintain clean coding
                                    standards. Focused more on reusing the components.</p>
                                <p align="justify">Customized restful service web service using Restful
                                    API in .Net core 5, sending JSON format data packets
                                    between front-end and middle-tier controller.</p>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Software Development</li>
                                        <li class="non_list">Application Development</li>
                                    </ul>
                                    <li class="list">Technologies and Language</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Angular 12</li>
                                                <li class="non_list">.Net Core 5(Restful API)</li>
                                                <li class="non_list">Azure</li>
                                                <li class="non_list">Microsoft SQL Server</li>
                                                <li class="non_list">Kendo UI</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Kendo Reporting</li>
                                                <li class="non_list">RxJS</li>
                                                <li class="non_list">Ngx Store</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge down">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="h5 mt-0 title">CrystalTech Lab</div>
                                <div class="h6 mt-0 title">Part Time Software Developer (2018-07 - 2021-08)</div>
                                <p align="justify">Worked as a Software developer to develop health care management
                                    system for a UK base hospital .</p>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Software Development</li>
                                        <li class="non_list">Application Development</li>
                                        <li class="non_list">Web Development</li>
                                    </ul>
                                    <li class="list">Technologies and Language</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Angular 12</li>
                                                <li class="non_list">NodeJS</li>
                                                <li class="non_list">PostgreSQL</li>
                                                <li class="non_list">Syncfusion</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Git</li>
                                                <li class="non_list">Slack</li>
                                                <li class="non_list">Asana</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>