<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                            <p align="justify">Hi, I’m Animesh Kotka, an IT professional passionate about technology, software development, and innovation. With a strong technical foundation and a knack for solving complex problems, I help businesses and individuals create efficient, scalable, and user-friendly solutions.
                            </p>
                            <p align="justify">On my website, <a href="https://kotka.tech" target="_blank">kotka.tech</a>, I share weekly tech blogs, tutorials, and guides to keep readers updated with the ever-evolving technology landscape. My goal is to simplify technology, help developers learn faster, and inspire tech enthusiasts to innovate.</p>
                            <p align="justify">To learn more about me, keep exploring my site or reach out directly.</p>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">May 06, 1999</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">animesh@kotka.tech</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Mobile No:</strong>
                            </div>
                            <div class="col-sm-8">8617534180</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">Purulia, West Bengal - 723101</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">English, Hindi, Bengali</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

