<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2017-2022</p>
                        <div class="h5">Bachelor Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Bachelor of Technology</div>
                        <h4 class="category">Indian Institute of Engineering Science and Technology, Shibpur</h4>
                        <ul>
                            <li> IIEST, Shibpur (Erstwhile "Bengal Engineering College") <b> ranks 27th in NIRF-2021
                                </b> among Engineering Institutes. </li>
                            <li>IIEST, Shibpur functions as an Institute of higher learning and advanced research. Prime
                                activities include creation and dissemination of knowledge; </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2015-2017</p>
                        <div class="h5">Higher Secondary</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Purulia Zilla School</div>
                        <h4 class="category">West Bengal Board Of Higher Secondary Education</h4>
                        <ul>
                            <li>Completed <b>Higher Secondary</b> in <b>Science</b> with <b>80%</b> aggregate.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2012-2015</p>
                        <div class="h5">Sedcondary School</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Chittaranjan High School, Purulia</div>
                        <h4 class="category">West Bengal Board Of Secondary Education</h4>
                        <ul>
                            <li>Completed Secondary Education with <b>79.6%</b>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>