<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <img src="assets\images\startquick.png" />
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <a class="float-right" href="https://www.starquik.com/" target="_blank"><i
                                class="fa fa-external-link"></i></a>
                        <div class="h4">Star Quik</div>
                        <h6 class="category">Online grocery shopping store in Mumbai, Pune, Hyderabad, Ahmedabad &
                            Bangalore</h6>
                        <p>Tech Stack: <b>Angular, Node and MongoDB</b></p>
                        <p><b>Role & Resposiblilities:</b></p>
                        <ul>
                            <li>Resposible to upgrade Angular 6 project to Angular 14
                            </li>
                            <li>Fixed Sass Loader related issues.</li>
                            <li>Work as a team and guides others to implement the process.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <img src="assets\images\airtel.png" />
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <a class="float-right" href="https://competedr.course5i.com/airtel/community/feed"
                            target="_blank"><i class="fa fa-external-link"></i></a>
                        <div class="h4">Airtel Connect</div>
                        <h6 class="category">Airtel Connect is a platform where airtel partners can arrange trainning
                            sessions for their trainee</h6>
                        <p>Tech Stack: <b>Angular, Node and MongoDB</b></p>
                        <p><b>Role & Resposiblilities:</b></p>
                        <ul>
                            <li>Worked on building whole Angular project structure
                                to improve the performance. Maintain clean coding
                                standards. Focused more on reusing the components.
                            </li>
                            <li>Implemented cookie handling and auto log out
                                functionalities in Angular. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <img src="assets\images\bhthy.png" />
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <a class="float-right" href="https://bhthy.com/#/" target="_blank"><i
                                class="fa fa-external-link"></i></a>
                        <div class="h4">bhthy</div>
                        <h6 class="category">Bhthy is a global platform that works as a third party to intermediate
                            between clients’ needs and research experts, researchers, or research assistants who are
                            willing to offer paid services.</h6>
                        <p>Tech Stack: <b>Angular, .Net Core and PhpMyAdmin</b></p>
                        <p><b>Role & Resposiblilities:</b></p>
                        <ul>
                            <li>Worked on building whole Angular project structure
                                to improve the performance. Maintain clean coding
                                standards. Focused more on reusing the components.
                            </li>
                            <li>Customized restful service web service using Restful
                                API in .Net core 5, sending JSON format data packets
                                between front-end and middle-tier controller. </li>
                            <li>Implemented mulpile user sign in and payment gateway with thawani</li>
                            <li>Used CORs pattern dataflow between the database, services and the app. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <img src="assets\images\meetlax.png" />
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <a class="float-right" href="https://meetlax.com/" target="_blank"><i
                                class="fa fa-external-link"></i></a>
                        <div class="h4">Meetlax</div>
                        <h6 class="category">Meetlax is a wonderful place to overcome social setbacks in a post-pandemic
                            world and sharing with other humans is better than therapy.</h6>
                        <p>Tech Stack: <b>Angular, Node and MongoDB</b></p>
                        <p><b>Role & Resposiblilities:</b></p>
                        <ul>
                            <li>Fixed application structure based on Angular Style
                                Guides and best practices.
                            </li>
                            <li>Implemented cookie handling and auto log out
                                functionalities in Angular. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="container">
        <div class="h4 text-center mb-4 title">Other Projects</div>
        <div class="row">
            <div class="card col-lg-6 col-md-12" data-aos="fade-up" data-aos-offset="10">
                <div class="card-body">
                    <a class="float-right" href="https://plain-river-5762.on.fleek.co/" target="_blank"><i
                            class="fa fa-external-link"></i></a>
                    <div class="h4 mt-0 title">Raffle: Decentralize Lottery Game</div>
                    <div class="row">
                        <div class="col-sm-3">
                            <strong class="text-uppercase">Tech Stack: </strong>
                        </div>
                        <div class="col-sm-9"><b>Solidity, Hardhat, Chai, NextJs</b></div>
                    </div>
                    <div class="row  mt-1">
                        <div class="col-sm-3">
                            <strong class="text-uppercase">Features: </strong>
                        </div>
                        <div class="col-sm-9">
                            <ul>
                                <li>
                                    Allows users to enter the game with minimum balance and a certain period of time a
                                    completely random winner will selected and gets all
                                    the amount.
                                </li>
                                <li>
                                    90% test coverage using <b>Chai</b> and extremely gas efficient smart contract using
                                    <b>Hardhat</b>.
                                </li>
                                <li>Used Chainlink to draw a random number in a decentralize manner and
                                    chainlink keeper to perform upkeep operation after an interval.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row  mt-1">
                        <div class="col-sm-3">
                            <strong class="text-uppercase">Git: </strong>
                        </div>
                        <div class="col-sm-9"><a href="https://github.com/AnimeshKotka/Decentralize-Lottery-Solidity"
                                target="_blank">Raffle Smart Contract, </a>
                            <a href="https://github.com/AnimeshKotka/Decentralize-Lottery-Frontend"
                                target="_blank">Raffle Frontend</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ml-2 card col-lg-5 col-md-12" data-aos="fade-up" data-aos-offset="10">
                <div class="card-body">
                    <div class="h4 mt-0 title">Decentralize Crowd Funding Smart Contract</div>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">Tech Stack:</strong>
                        </div>
                        <div class="col-sm-8"><b>Solidity, Hardhat, Chai, Js</b></div>
                    </div>
                    <div class="row  mt-1">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">Features: </strong>
                        </div>
                        <div class="col-sm-8">
                            <ul>
                                <li>
                                    Decentralize crowd funding smart contract using Solidity, Hardhat and Js
                                </li>
                                <li>
                                    90% test coverage using <b>Chai</b> and extremely gas efficient smart contract using
                                    <b>Hardhat</b>.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row  mt-1">
                        <div class="col-sm-4">
                            <strong class="text-uppercase">Git: </strong>
                        </div>
                        <div class="col-sm-8"><a href="https://github.com/AnimeshKotka/Cowrd-Funding-App"
                                target="_blank">Crowd Funding Smart Contract</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>